StockManagementSystem/StockMarket/Bin
StockManagementSystem/SkyTrade/Bin
StockManagementSystem/GoogleChart/obj
StockManagementSystem/GoogleChart/bin
StockManagementSystem/DatabaseAccess/bin
StockManagementSystem/DatabaseAccess/obj
StockManagementSystem/Common/bin
StockManagementSystem/Common/obj
*.suo