StockManagementSystem/StockMarket/bin
StockManagementSystem/SkyTrade/bin
StockManagementSystem/GoogleChart/obj
StockManagementSystem/GoogleChart/bin
StockManagementSystem/DatabaseAccess/bin
StockManagementSystem/DatabaseAccess/obj
StockManagementSystem/Common/bin
StockManagementSystem/Common/obj
*.suo
packages
PriceAdjuster/bin
PriceAdjuster/obj
TestDataGenerator