<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- This is the connection string to our SkyTrade and StockMarket databases.-->
    <add name="SkyTrade" connectionString="Data Source=WNGCSP04;Initial Catalog=SkyTrade_adb;User Id=skytrade;Password=cs744;" providerName="System.Data.SqlClient" />
    <add name="StockMarket" connectionString="Data Source=WNGCSP04;Initial Catalog=StockMarket;User Id=skytrade;Password=cs744;" providerName="System.Data.SqlClient" />
    <!-- Andrew's local DB connection string-->
    <add name="AndrewSkyTrade" connectionString="Data Source=DIDIERDROGBA\SQLExpress;Initial Catalog=StockManagement;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="AndrewStockMarket" connectionString="Data Source=DIDIERDROGBA\SQLExpress;Initial Catalog=StockMarket;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!-- Xi local DB-->
    <add name="XiSkyTrade"  connectionString="Server=localhost;Database=SkyTrade_adb;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="XiStockMarket"  connectionString="Server=localhost;Database=StockMarket;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ChartImg" verb="*" path="ChartImg.axd"  type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"  />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>