<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <!-- This is the connection string to our SkyTrade and StockMarket databases.-->
    <add name="SkyTrade" connectionString="Data Source=WNGCSP04;Initial Catalog=SkyTrade_adb;User Id=skytrade;Password=cs744;" providerName="System.Data.SqlClient" />
    <add name="StockMarket" connectionString="Data Source=WNGCSP04;Initial Catalog=StockMarket;User Id=skytrade;Password=cs744;" providerName="System.Data.SqlClient" />

    <!-- Andrew's local DB connection string-->
    <add name="AndrewSkyTrade" connectionString="Data Source=DIDIERDROGBA\SQLExpress;Initial Catalog=StockManagement;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="AndrewStockMarket" connectionString="Data Source=DIDIERDROGBA\SQLExpress;Initial Catalog=StockMarket;Integrated Security=True;" providerName="System.Data.SqlClient" />

    <!-- Xi's local DB connection string-->
    <add name="CissySkyTrade" connectionString="Data Source=Cissy-PC;Initial Catalog=SkyTrade_adb;User Id=skytrade;Password=cs744;" providerName="System.Data.SqlClient" />
    <add name="CissyStockMarket" connectionString="Data Source=Cissy-PC;Initial Catalog=StockMarket;User Id=skytrade;Password=cs744;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
